body {
    margin: 0;
    overflow: hidden;
}

.controls{
    position: absolute;
    top: 56px;
}

nav {
    z-index: 1;
}
.w-5{
    width: 5%!important;
}

.w-90{
    width: 90%!important;
}

.h-10{
    height: 10%!important;
}

.h-100{
    height: calc(100vh - 56px)!important;
}

.display-4{
    text-transform: capitalize;
}

.container-fluid {
    height: calc(100vh - 50px);
    width: 100%;
    padding: 0%;
}

.planet-information {
    z-index: 0;
    padding-top: 100px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: hsla(0, 0%, 10%, 0.40);
    color: white;
}

.information {
    width: 100%;
    z-index: 0;
    padding-top: 100px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.40);
    color: white;
}

.rocket-background{
    background-color: #6ee3f5;
}

.hide {
    width: 0;
}

.show {
    width: 30%;
}

.planet-overview {
    position: absolute;
    left: 1em;
    margin-left: 1em;
}

.planet-overview .row img {
    margin-top: 1em;
    width: 40px;
    -webkit-transition: width 500ms;    /* Safari prior 6.1 */
    transition: width 500ms;
}

.planet-overview .row img:hover {
    width: 45px;
}