body{
    margin: 0;
    overflow: hidden;
}

nav{
    z-index: 1;
}

.container-fluid{
    height: calc(100vh - 50px);
    width: 100%;
    padding: 0%;
}

#planet-information{
    z-index: 0;
    padding-top: 100px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: hsla(0, 0%, 10%, 0.10);
    color: white;
}

.information{
    width: 100%;
    z-index: 0;
    padding-top: 100px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.70);
    color: white;
}

.hide{
    width: 0;
}

.show{
    width: 50%;
}